# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
backend/StocksAPI/StocksAPI/bin
backend/StocksAPI/StocksAPI/obj
backend/StocksAPI/StocksAPI/Migrations

# testing

# production

# misc
.vs